.weather-card {
  background-image: url('https://t3.ftcdn.net/jpg/00/68/79/54/240_F_68795433_fjQuxeXBgS8WwBimyZgFcfIFFA5pRacx.jpg');
  width: 300px;
  height: 230px;
  background-position: center;
  border-radius: 15px;
  color:rgb(66, 65, 65);
}

.weather-card-night {
  background-image: url('https://t3.ftcdn.net/jpg/00/91/34/32/240_F_91343272_mbCCWvWYyJShOQsSWBAUMox8VLfzXZQA.jpg');
  width:300px;
  height: 230px;
  background-position: center;
  border: none;
  border-radius: 15px;
  color: rgb(227, 227, 247);  
}

#city {
  font-size: 180%;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 0 0;
  padding: 20px 0 0 0;
}

#weather-t{
  display: flex;
  justify-content:space-evenly;
}

#temperature {
  display:flex;
  margin: 20px 0 0 20px ;
  font-style:italic;
}

#icon-t {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  margin: 18px 0 0 0 ;
}

#weather-ws {
  display: flex;
  margin: 15px 0 0 0 ;
}

#wind {
  margin: 5px 0 10px 10px;
  font-style:italic;
}
  
#icon-ws {
  margin:5px 10px 10px 65px ;
  width: 20px;
  height: 20px;  
}

#weather-wd {
  display: flex;
  justify-content:space-evenly;
}

#windDirection{
  display:flex;
  font-style:italic;
}

#icon-wd {  
  margin: 0 5px 0 5px;
  width: 20px;
  height: 20px;
}

#description{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  font-style:italic;
  font-size: larger;
  font-weight: bold;
    
}
#time {
  font-size: 10px;
  display: flex;
  justify-content: end;
}
